<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="/compte/creer" method="post" th:object="${compte}">
    <label for="solde">Solde</label>
    <input id="solde" type="number" required th:field="*{solde}">
    <br>
    <label for="taux">Taux</label>
    <input id="taux" type="text" required th:field="*{taux}">
    <br>
    <br>
    <label for="client">Client</label>
    <select id="client" name="client" required>
      <option th:each="client : ${clients}" th:text="${client.nom + ' ' + client.prenom}" th:value="${client.id}"/>
    </select>
    <input type="submit" value="Créer">
  </form>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Solde</th>
        <th>Taux</th>
        <th>Supprimer</th>
        <th>Détails</th>
        <th>Editer</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="compte : ${comptes}">
        <td th:text="${compte.id}"></td>
        <td th:text="${compte.solde}"></td>
        <td th:text="${compte.taux}"></td>
        <td>
          <form action="/compte/effacer" method="post">
            <input type="hidden" name="idCompte" th:value="${compte.id}">
            <input type="submit" value="Supprimer">
          </form>
        </td>
        <td><a th:href="'/compte/lister/' + ${compte.id}">Détail</a></td>
        <td>
          <form action="/compte/editer" method="post">
            <input id="id-edit" type="hidden" name="id" required th:value="${compte.id}">
            <input id="solde-edit" type="hidden" name="solde" required th:value="${compte.solde}">
            <input id="taux-edit" type="hidden" name="taux" required th:value="${compte.taux}">
            <input id="client-edit" type="hidden" name="client" required th:value="${compte.client.id}">
            <input type="submit" value="Editer">
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>