<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Détail Client</title>
</head>
<body>
<h1>Détail du client</h1>
<h2 th:text="${client.nom + ' ' + client.prenom}"/>
<h3>Liste des comptes</h3>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Solde</th>
        <th>Taux</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="compte : ${client.comptes}">
        <td th:text="${compte.id}"/>
        <td th:text="${compte.solde}"/>
        <td th:text="${compte.taux}"/>
    </tr>
    </tbody>
</table>
</body>
</html>