<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Controller</th>
                <th>Doit afficher</th>
                <th>Liens</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Comptes controller</td>
                <td>Liste des comptes</td>
                <td><a href="compte/lister">Liste</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>