<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier</title>
</head>
<body>
<h1>Modifier le client : </h1>
<form action="/client/editer/submit" method="post" th:object="${client}">
    <input id="id" name="id" th:field="*{id}" type="hidden">
    <label for="nom">Nom</label>
    <input id="nom" name="nom" th:field="*{nom}" type="text">
    <br><br>
    <label for="prenom">Prénom</label>
    <input id="prenom" name="prenom" th:field="*{prenom}" type="text">
    <br><br>
    <input type="submit" value="Modifier">
</form>
</body>
</html>